---
import PostListByYear from '@/components/PostListByYear.astro'
import TagList from '@/components/TagList.astro'
import { defaultLocale, moreLocales } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPosts, getPostsGroupByTags, groupPostsByYear } from '@/utils/content'

export async function getStaticPaths() {
  type PathItem = {
    params: { tags: string }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { tags: 'tags/' },
    props: { lang: defaultLocale },
  })

  // More locales
  moreLocales.forEach((lang: string) => {
    paths.push({
      params: { tags: `${lang}/tags/` },
      props: { lang },
    })
  })

  return paths
}

const { lang } = Astro.props
const allTags = await getAllTags(lang)
const allPosts = await getPosts(lang)
const postsByYear = groupPostsByYear(allPosts)
const tagMap = await getPostsGroupByTags(lang)
const tagCounts = new Map<string, number>()
tagMap.forEach((posts, tag) => {
  tagCounts.set(tag, posts.length)
})
---

<Layout>
  <div class="uno-decorative-line" />
  <TagList
    tags={allTags}
    lang={lang}
    tagCounts={tagCounts}
    showAllPosts={true}
    allPostsCount={allPosts.length}
  />

  <div class="mt-10.5">
    <PostListByYear
      postsByYear={postsByYear}
      lang={lang}
    />
  </div>
</Layout>
